.root {
    height: 800px; /* высота нашего блока */
  /*  width: 200px; /* ширина нашего блока */
    overflow-x: hidden; /* прокрутка по вертикали */
}

.valera {
    height: 350px; /* высота нашего блока */
    /*  width: 200px; /* ширина нашего блока */
    overflow-x: hidden; /* прокрутка по вертикали */
}

.valera2 {
    height: 350px; /* высота нашего блока */
    /*  width: 200px; /* ширина нашего блока */
    overflow-x: hidden; /* прокрутка по вертикали */
}

.active {
    aria-pressed: true;
}
