.root {
    height: 400px;
  /*  width: 200px;*/
    overflow-x: hidden;
}

.table2 {
    height: 400px;
    /*  width: 200px;*/
    overflow-x: hidden;
}

#chartContainer {
    height: 380px;
    width: 900px;
}
